.lines {
    
    padding: 5px;
    font-size: 200%;
}

#worddisplay {
    display:flex;
    justify-content: center; 

}
.jumbotron {
    display:flex;
    justify-content: center; 
    background-image: url("http://clipart-library.com/images/yikKb97BT.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}



.content {
    max-width: 960px;
    margin: auto;
    height: 960px;
  }

  [class^="letter-"] {
        padding: 5px
  }

 div {
     font-size: 200%;
 }

 #winscounter {
    font-size: 200%;
 }

 #wins {
    font-size: 100%;
 }
 #lines {
    font-size: 200%;
 }
 #guesscounter {
    font-size: 200%;
 }
 #guessremain {
    font-size: 100%;
 }
 #guesses {
    font-size: 200%;
 }
 #guessedletters {
    font-size: 100%;
 }

